[submodule "submodules/vllm_service"]
	path = submodules/vllm_service
	url = https://github.com/AIQ-Kitware/vllm_service.git
	branch = main
[submodule "submodules/aiq-magnet"]
	path = submodules/aiq-magnet
	url = https://github.com/AIQ-Kitware/aiq-magnet.git
[submodule "submodules/helm"]
	path = submodules/helm
	url = https://github.com/AIQ-Kitware/helm.git
[submodule "submodules/kwdagger"]
	path = submodules/kwdagger
	url = https://github.com/AIQ-Kitware/kwdagger.git
[submodule "submodules/every_eval_ever"]
	path = submodules/every_eval_ever
	url = https://github.com/evaleval/every_eval_ever.git
[submodule "submodules/cmd_queue"]
	path = submodules/cmd_queue
	url = git@gitlab.kitware.com:computer-vision/cmd_queue.git
